@(noteForm: Form[Note])

@import bootstrap._

@main("Notes") {
    <div class="container-fluid">
        <div data-bind="notesViewModel">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="sidebar-nav">
                        <h3>Notes</h3>
                        <table class="table table-striped">

                            <tbody data-bind="foreach: notes">
                                <tr class='clickable-row'>
                                    <td data-bind="text: title, click: $root.editNote" ></td>
                                    <td align="right">
                                        <img src="@routes.Assets.at("images/cross.png")" height="16" width="16" data-bind="click: $root.removeNote" >
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                        <!--/.well -->
                </div>
                    <!--/span-->
                <div class="col-md-10">






                    <form>
                        @text(noteForm("title"),  "Title", "Enter Note Title", "", "value: title")
                        @textArea(noteForm("message"), "Text", "Enter The Note Text", "" , "value: message")
                        <button type="submit" value="submit" class = "btn btn-default" data-bind="click: $root.saveNote">Save</button>
                    </form>

                    <script language = "javascript" lang="javascript" src ='@routes.Assets.at("javascripts/app.js")'></script>

                </div>
            </div>
        </div>
    </div>


}