@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
            <!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("lib/jquery/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")" type="text/javascript"></script>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        @*todo Подключить аналогично стиль bootstrap.css и стиль main.css*@
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/knockout.js")" type="text/javascript"></script>

            <!--необходим, чтобы работали механизмы реверсной маршрутизации. Добавляет объект jsRoutes -->
        <script type="text/javascript" src="@routes.Application.jsRoutes"></script>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="/">Notes</a>-->
                    <img src="@routes.Assets.at("images/icon_n.png")" height="50" width="50" href="/#">
                </div>


                <div id="navbar" class="navbar-collapse collapse">
                @if(Auth.currentUserEmail() != null) {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Auth.currentUserEmail() <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@routes.Admin.changePassword()">Change Password</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@routes.Auth.logout()">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                } else {
                    <form class="navbar-form navbar-right" action="@routes.Auth.auth()" method="POST">
                        <div class="form-group">
                            <input name="email" type="text" placeholder="E-mail" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Log In</button>
                    </form>
                }
                </div>

                    <!--/.navbar-collapse -->
            </div>
        </nav>
        <br>
        <br>
        <br>
        <div class="container-fluid">
            @if(flash().get("success") != null) {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">x</a>
                    @flash().get("success")
                </div>
            }
            @content

            <hr>
            <footer>
            </footer>
        </div> <!-- /container -->

    </body>
</html>
